.submit-form {
  max-width: 400px;
  margin: auto;
}
.button-group {
  margin-top: 10px; /* Adjust as needed */
  display: flex;
  gap: 10px;
}

.button-group button {
  margin-right: 10px; /* Adjust as needed */
}